.gradient-background {
    background: linear-gradient(300deg, #6EACDA, white);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.TopPage{
    background-color: #6EACDA;
    width: auto;
    height: 550px;
    margin-bottom: 2rem;
}


.Shape{
    background: linear-gradient(300deg, #6EACDA, white);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    z-index: -1;
    width: auto;
    height: 170px;
}